/* IMPORTANDO A FONTE */

@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Inconsolata&display=swap');
* {
    margin: 0;
    padding: 0;
}
/* CORES */

:root   {
    --cordestaque: #252636;
    --corlinks: #224024;
    --corfaqpage: #244131;
    --corprincipal: #25a18e;
    --corhoverbox2: #60c0ffc0;
    --corfaqaberto: #84d3d469;
    --corfundo: #ffffff;
    --corhoverbox: #1da893b7;

}  

/* BODY */

.body   {
    font-family: 'Inconsolata';
    background-color: var(--corfundo);
    
}

/* HEADER */

.cabecalho  {
    padding: 0% 0% 1% 15%;
}

.cabecalho_menu     {
    display: flex;
    gap: 70px;
}
.cabecalho_menu_link    {
    font-family: 'Inconsolata';
    font-size: 20px;
    font-weight: 800;
    color: var(--cordestaque);
    

}

.apresentacao    {
    padding: 5% 15%;
    display: flex;
    align-items:flex-start;
    justify-content:center;
}

.titulo_destaque     {
    color: var(--corprincipal);
}

.apresentacao_conteudo  {
    width: 615px;
    gap: 2px
    
}
.apresentacao_conteudo_titulo   {
    font-size: 36px;
    font-family: 'Inconsolata';
}

/* BOXES -> CONTATO */

.boxes {
align-content: center;
text-align: center;
font-family: 'Inconsolata';
background-color: var(--corfundo);
display: block;
width: 300px;
min-height: 30px;
border: 2px groove var(--corprincipal);
padding: 10px;
margin: calc(20vh - 30px) auto 0 auto;
box-shadow: 10px -10px 0 -3px var(--corprincipal), 10px -10px var(--corprincipal);
transition: box-shadow 1s, top 1s, left 1s;
position:initial;
top: 0;
left: 0;
cursor: pointer;
}

.boxes:hover    {
    top: 20px;
    left: 40px;
    box-shadow: 0 0 0 -3px var(--corlinks), 0 0 0 0 var(--corhoverbox2),
}
/* CONTEÚDO DOS CONTATOS */

.apresentacao_conteudo_titulo_contato   {
    font-size: 20px;

}

.apresentacao_conteudo_texto    {
    font-family: 'Inconsolata';
    text-align: left;
}

.apresentacao_conteudo_texto_contato    {
    font-size: 18px;
    gap: 2px;
}

/* TÍTULOS NO SITE E FAQ'S */

.headline   {
    font-size: 23px;
    color: --cordestaque;
    font-family: 'Inconsolata';
    text-align: center;
    border:solid;
    border-color: var(--corprincipal);
}

.faq-container  {
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.hr-line    {
  width: 60%;
  margin: auto;
}
.faq_page   {
    font-size: 18px;
    font-family: 'Inconsolata';
    text-align: left;
    line-height: 200%;
    color: var(--corfaqpage);
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}
.faq_body   {
    font-size: 18px;
    font-family: 'Inconsolata';
    line-height: 200%;
    margin: auto;

   width: 50%; 
   padding: auto;
   row-gap: 3px;
   
}
/* HOVER DO FAQ */

.active,
.faq_page:hover     {
    background-color: var(--corhoverbox);
    color: var(--corfundo);
}

.faq_body   {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color:var(--corfaqaberto);
}
.faq_page:after     {
    content: '\02795';
    font-size: 13px;
    color: var(--corfaqaberto);
    float: right;
    margin-left: 5px;
}
.active:after   {
    content: "\2796";
}
 
/* LINKS */

.links  {
    color: var(--corlinks)
}


/* FOOTER - GITHUB LINK */

  .footer-content-right     {
    padding-right:40px;
    margin-top:20px;
    float:right;
  }
  .icon-style   {
    height: 60px;
    margin-left:2px;
    margin-top:-90px;
    margin-bottom: 15px;

  }
  img   {
    -webkit-mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
    mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
    -webkit-mask-size: 800%;
    mask-size: 800%;
    -webkit-mask-position: 0;
    mask-position: 0;
    position: relative;
}

img:hover   {
    transition: mask-position 2s ease,-webkit-mask-position 2s ease;
    -webkit-mask-position: 120%;
    mask-position: 120%;
    opacity: 1;
}