@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Inconsolata&display=swap');
* {
    margin: 0;
    padding: 0;
}
:root{
    --cor1: #252636;
    --cor2: #224024;
    --cor3: #244131;
    --cor4: #25a18e;
    --cor5: #7ae582;
    --cor6: #a4ccaa;
    --cor7: #20a8948e;
    --cor8: #b8cdca;
    --cor9: #ffffff;

}  
.body{
    font-family: 'Inconsolata';
    background-color: var(--cor7);
}
.cabecalho {
    padding: 2% 1% 1% 15%;
}
.cabecalho_menu {
    display: flex;
    gap: 70px;
}
.cabecalho_menu_link {
    font-family: 'Inconsolata';
    font-size: 20px;
    font-weight: 800;
    color: var(--cor1);
    text-decoration:overline;

}
.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
  }
  
  input {
    font-size: 1rem;
  }
  
.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items:flex-start;
    justify-content:center;
}
.titulo_destaque {
    color: var(--cor4);
}
.apresentacao_conteudo{
    width: 615px;
    gap: 2px
    
}
.apresentacao_conteudo_titulo{
    font-size: 36px;
    font-family: 'Inconsolata';
}
.apresentacao_conteudo_texto{
    font-size: 15px;
    font-family: 'Inconsolata';
    text-align: left;
}
.headline {
    font-size: 23px;
    color: --cor1;
    font-family: 'Inconsolata';
    text-align: center;
    border:solid;
    border-color: var(--cor4);
}
.faq-container{
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.hr-line{
  width: 60%;
  margin: auto;
}
.faq_page {
    font-size: 18px;
    font-family: 'Inconsolata';
    text-align: left;
    line-height: 200%;
    color: var(--cor3);
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}
.faq_body{
    font-size: 18px;
    font-family: 'Inconsolata';
    line-height: 200%;
    margin: auto;

   width: 50%; 
   padding: auto;
   row-gap: 3px;
   
}
.active,
.faq_page:hover {
    background-color:var(--cor7);
    color: var(--cor9);
}

.faq_body {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #b8cdca;
}
.faq_page:after {
    content: '\02795';
    font-size: 13px;
    color: rgb(73, 73, 73);
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796";
 
}
.destaque {
    color: var(--cor3);
}
.links {
    color: var(--cor2)
}
